<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>League of Legends Combat Simulator</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'calc/css/normalize.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>    
    <link rel="stylesheet" type="text/css" href="{% static 'calc/css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'calc/css/mobile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'calc/css/medium.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'calc/css/widescreen.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'calc/css/modals-common.css' %}">
    <script src="{% static 'calc/js/champ_select.js' %}"></script>
    <script src="{% static 'calc/js/summoner_select.js' %}"></script>
</head>
<body>
    <div class="container">
        <h1>League of Legends</h1>
        <h2>Combat Simulator <span class="only-mobile">(mobile)</span></h2>
        <p class="usage-note">(Click or tap a champ/item/rune to change it)</p>
        <div class="component-container">
            <div class="champ-div blue-champ">
                <div class="inner-champ-div">
                    <p>Champion:</p>
                    <a class="clickable-image-container" href="#blue-champ-select" rel="modal:open">
                        <img class="champ-icon" src="{% static 'calc/img/champ_square/black_square.png' %}">
                        <div class="middle">Select a champion</div>
                    </a>
                    <p class="champ-name">[None selected]</p>
                </div>
                <div class="champ-details blue">
                    <div class="title-n-summs">
                        <p class="items-summs">Items\Summoners:</p>
                        <img class="summoner-spell" src="{% static 'calc/img/summoner/SummonerFlash.png' %}">
                        <img class="summoner-spell" src="{% static 'calc/img/summoner/SummonerHeal.png' %}">                
                    </div>
                    <div class="items">
                        <img class="item" src="{% static 'calc/img/items/3095.png' %}">
                        <img class="item" src="{% static 'calc/img/items/3085.png' %}">
                        <img class="item" src="{% static 'calc/img/items/3031.png' %}">
                        <img class="item" src="{% static 'calc/img/items/3006.png' %}">
                        <img class="item" src="{% static 'calc/img/items/3072.png' %}">
                        <img class="item" src="{% static 'calc/img/items/3046.png' %}">
                    </div>
                    <div class="runes-container">
                        <div class="runes-primary-tree">
                            <div class="keystone-rune"><span>KS</span></div>
                            <div class="lesser-runes">
                                <div class="lesser-rune">r1</div>
                                <div class="lesser-rune">r2</div>
                                <div class="lesser-rune">r3</div>
                                <div class="lesser-rune">r4</div>
                                <div class="lesser-rune">r5</div>
                                <div class="lesser-rune">r6</div>
                                <div class="lesser-rune">r7</div>
                                <div class="lesser-rune">r8</div>
                                <div class="lesser-rune">r9</div>
                            </div>
    
                        </div>
                        <div class="runes-secondary-tree">
                            <div class="secondary-tree-icon"><span>T2</span></div>
                            <div class="lesser-runes">
                                <div class="lesser-rune">r1</div>
                                <div class="lesser-rune">r2</div>
                                <div class="lesser-rune">r3</div>
                                <div class="lesser-rune">r4</div>
                                <div class="lesser-rune">r5</div>
                                <div class="lesser-rune">r6</div>
                                <div class="lesser-rune">r7</div>
                                <div class="lesser-rune">r8</div>
                                <div class="lesser-rune">r9</div>
                            </div>
    
        
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="champ-div red-champ">
                <div class="inner-champ-div">
                    <p>Champion:</p>
                    <a class="clickable-image-container" href="#blue-champ-select" rel="modal:open">
                        <img class="champ-icon" src="{% static 'calc/img/champ_square/black_square.png' %}">
                        <div class="middle">Select a champion</div>
                    </a>
                    <p class="champ-name">[None selected]</p>
                    </div>
                <div class="champ-details red">
                    <div class="title-n-summs">
                        <p class="items-summs">Items\Summoners:</p>
                        <img class="summoner-spell" src="{% static 'calc/img/summoner/SummonerFlash.png' %}">
                        <img class="summoner-spell" src="{% static 'calc/img/summoner/SummonerExhaust.png' %}">                
                    </div>
                    <div class="items">
                        <img class="item" src="{% static 'calc/img/items/3107.png' %}">
                        <img class="item" src="{% static 'calc/img/items/3504.png' %}">
                        <img class="item" src="{% static 'calc/img/items/3092.png' %}">
                        <img class="item" src="{% static 'calc/img/items/2055.png' %}">
                        <img class="item" src="{% static 'calc/img/items/3174.png' %}">
                        <img class="item" src="{% static 'calc/img/items/3158.png' %}">
                    </div>
                    <div class="runes-container">
                        <div class="runes-primary-tree">
                            <div class="keystone-rune"><span>KS</span></div>
                            <div class="lesser-runes">
                                <div class="lesser-rune">r1</div>
                                <div class="lesser-rune">r2</div>
                                <div class="lesser-rune">r3</div>
                                <div class="lesser-rune">r4</div>
                                <div class="lesser-rune">r5</div>
                                <div class="lesser-rune">r6</div>
                                <div class="lesser-rune">r7</div>
                                <div class="lesser-rune">r8</div>
                                <div class="lesser-rune">r9</div>
                            </div>
                        </div>
                        <div class="runes-secondary-tree">
                            <div class="secondary-tree-icon"><span>T2</span></div>
                            <div class="lesser-runes">
                                <div class="lesser-rune">r1</div>
                                <div class="lesser-rune">r2</div>
                                <div class="lesser-rune">r3</div>
                                <div class="lesser-rune">r4</div>
                                <div class="lesser-rune">r5</div>
                                <div class="lesser-rune">r6</div>
                                <div class="lesser-rune">r7</div>
                                <div class="lesser-rune">r8</div>
                                <div class="lesser-rune">r9</div>
                            </div>
        
                        </div>
                    </div>

                </div>
            </div>
            <div class="graph-div">
                <p>Graph div</p>
            </div>
        </div>
    </div>
    <div></div>
</body>
</html>