<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>League of Legends Combat Simulator</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'calc/css/normalize.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'calc/css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'calc/css/mobile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'calc/css/medium.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'calc/css/widescreen.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'calc/css/modals-common.css' %}">
    <script src="{% static 'calc/js/champ_select.js' %}"></script>
    <script src="{% static 'calc/js/summoner_select.js' %}"></script>
    <script src="{% static 'calc/js/item_select.js' %}"></script>
    <script src="{% static 'calc/js/level_select.js' %}"></script>
    <script src="{% static 'calc/js/canvas_text.js' %}"></script>
</head>
<body>
    <div class="container">
        <h1>League of Legends</h1>
        <h2>Combat Simulator <span class="only-mobile">(mobile)</span></h2>
        <p class="usage-note">(Click or tap a champ/item/rune to change it)</p>
        <div class="component-container">
            <div class="champ-div blue-champ">
                <div class="inner-champ-div">
                    <p>Champion:</p>
                    <a class="clickable-image-container" rel="modal:open">
                        <img class="champ-icon" src="{% static 'calc/img/black_square.png' %}">
                        <div class="middle">Select a champion</div>
                    </a>
                    <p class="champ-name">[None selected]</p>
                    <span>Level: </span><select class="level-selector"></select>
                </div>
                <div class="champ-details blue">
                    <div class="title-n-summs">
                        <p class="items-summs">Items\Summoners:</p>
                        <div class="summ-outerdiv-D">
                            <a class="clickable-image-container summoner-spell">
                                <img class="summoner-spell" src="{% static 'calc/img/black_square.png' %}">
                                <div class="middle"><span>summ spell </span>D</div>
                            </a>
                        </div>
                        <div class="summ-outerdiv-F">
                            <a class="clickable-image-container summoner-spell">
                                <img class="summoner-spell" src="{% static 'calc/img/black_square.png' %}">
                                <div class="middle"><span>summ spell </span>F</div>
                            </a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="item1 item-outerdiv">
                            <img class="item" src="{% static 'calc/img/black_square.png' %}">
                        </div>
                        <div class="item2 item-outerdiv">
                            <img class="item" src="{% static 'calc/img/black_square.png' %}">
                        </div>
                        <div class="item3 item-outerdiv">
                            <img class="item" src="{% static 'calc/img/black_square.png' %}">
                        </div>
                        <div class="iterm4 item-outerdiv">
                            <img class="item" src="{% static 'calc/img/black_square.png' %}">
                        </div>
                        <div class="iterm5 item-outerdiv">
                            <img class="item" src="{% static 'calc/img/black_square.png' %}">
                        </div>
                        <div class="iterm6 item-outerdiv">
                            <img class="item" src="{% static 'calc/img/black_square.png' %}">
                        </div>
                    </div>
                    <div class="runes-container">
                        <div class="runes-primary-tree">
                            <div class="keystone-rune"><span>KS</span></div>
                            <div class="lesser-runes">
                                <div class="lesser-rune">r1</div>
                                <div class="lesser-rune">r2</div>
                                <div class="lesser-rune">r3</div>
                                <div class="lesser-rune">r4</div>
                                <div class="lesser-rune">r5</div>
                                <div class="lesser-rune">r6</div>
                                <div class="lesser-rune">r7</div>
                                <div class="lesser-rune">r8</div>
                                <div class="lesser-rune">r9</div>
                            </div>
    
                        </div>
                        <div class="runes-secondary-tree">
                            <div class="secondary-tree-icon"><span>T2</span></div>
                            <div class="lesser-runes">
                                <div class="lesser-rune">r1</div>
                                <div class="lesser-rune">r2</div>
                                <div class="lesser-rune">r3</div>
                                <div class="lesser-rune">r4</div>
                                <div class="lesser-rune">r5</div>
                                <div class="lesser-rune">r6</div>
                                <div class="lesser-rune">r7</div>
                                <div class="lesser-rune">r8</div>
                                <div class="lesser-rune">r9</div>
                            </div>
    
        
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="champ-div red-champ">
                <div class="inner-champ-div">
                    <p>Champion:</p>
                    <a class="clickable-image-container" rel="modal:open">
                        <img class="champ-icon" src="{% static 'calc/img/champ_square/black_square.png' %}">
                        <div class="middle">Select a champion</div>
                    </a>
                    <p class="champ-name">[None selected]</p>
                    <span>Level: </span><select class="level-selector"></select>
                    </div>
                <div class="champ-details red">
                    <div class="title-n-summs">
                        <p class="items-summs">Items\Summoners:</p>
                        <div class="summ-outerdiv-D">
                                <a class="clickable-image-container summoner-spell">
                                    <img class="summoner-spell" src="{% static 'calc/img/champ_square/black_square.png' %}">
                                    <div class="middle"><span>summ spell </span>D</div>
                                </a>
                            </div>
                            <div class="summ-outerdiv-F">
                                <a class="clickable-image-container summoner-spell">
                                    <img class="summoner-spell" src="{% static 'calc/img/champ_square/black_square.png' %}">
                                    <div class="middle"><span>summ spell </span>F</div>
                                </a>
                            </div>
                        </div>
                    <div class="items">
                        <div class="item1 item-outerdiv">
                            <img class="item" src="{% static 'calc/img/black_square.png' %}">
                        </div>
                        <div class="item1 item-outerdiv">
                            <img class="item" src="{% static 'calc/img/black_square.png' %}">
                        </div>
                        <div class="item1 item-outerdiv">
                            <img class="item" src="{% static 'calc/img/black_square.png' %}">
                        </div>
                        <div class="item1 item-outerdiv">
                            <img class="item" src="{% static 'calc/img/black_square.png' %}">
                        </div>
                        <div class="item1 item-outerdiv">
                            <img class="item" src="{% static 'calc/img/black_square.png' %}">
                        </div>
                        <div class="item1 item-outerdiv">
                            <img class="item" src="{% static 'calc/img/black_square.png' %}">
                        </div>
                                                                                                            
                    </div>
                    <div class="runes-container">
                        <div class="runes-primary-tree">
                            <div class="keystone-rune"><span>KS</span></div>
                            <div class="lesser-runes">
                                <div class="lesser-rune">r1</div>
                                <div class="lesser-rune">r2</div>
                                <div class="lesser-rune">r3</div>
                                <div class="lesser-rune">r4</div>
                                <div class="lesser-rune">r5</div>
                                <div class="lesser-rune">r6</div>
                                <div class="lesser-rune">r7</div>
                                <div class="lesser-rune">r8</div>
                                <div class="lesser-rune">r9</div>
                            </div>
                        </div>
                        <div class="runes-secondary-tree">
                            <div class="secondary-tree-icon"><span>T2</span></div>
                            <div class="lesser-runes">
                                <div class="lesser-rune">r1</div>
                                <div class="lesser-rune">r2</div>
                                <div class="lesser-rune">r3</div>
                                <div class="lesser-rune">r4</div>
                                <div class="lesser-rune">r5</div>
                                <div class="lesser-rune">r6</div>
                                <div class="lesser-rune">r7</div>
                                <div class="lesser-rune">r8</div>
                                <div class="lesser-rune">r9</div>
                            </div>
        
                        </div>
                    </div>

                </div>
            </div>
            <div class="graph-div">
                <canvas class="canvas-graph"></canvas>
            </div>
            <div class="event-list">
                <input class="run-combat-submit" type="submit" value="Compute">
            </div>
        </div>
    </div>
    <div></div>
</body>
</html>