/* COMMON STYLES */
html {
    /* box-sizing: border-box; */
}
*, *:before, *:after {
    /* box-sizing: inherit; */
}
body {
    background-color: #222;
}
a {
    cursor: pointer;
}
.container {
    padding-top: 15px;
    color: white;
}
h1, h2 {
    margin: 20px;
    display: inline;
}

.champ-div {
    padding: 10px;
    margin: 15px;
    border: 4px groove yellow;
}
.champ-div .blue {
    background-color: #226;
}
.champ-div .red {
    background-color: #622;
}
h1, h2, .usage-note {
    text-align: center;
}
.clickable-image-container {
    position: relative;
    display: block;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.clickable-image-container .upper {
    position: absolute;
}
.items {
    background-color: #333;
}
div.champ-div {
    display: grid;
    grid-template-columns: 180px auto;
    grid-gap: 5px;
}
.inner-champ-div p {
    margin: 0;
}
img.champ-icon {
    width: 100%;
    max-width: 192px;
}
img.summoner-spell {
    width: 100%;

}
.champ-details {
    padding: 6px;
}
.title-n-summs {
    display: grid;
    grid-template-columns: auto 72px 72px;
}
p.items-summs {
    font-size: 0.7rem
}
.items {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}
.item-outerdiv img {
    cursor: pointer;
    width: 64px;
    height: 64px;
}
.item {
    margin: 4px;
}

.graph-div {
    margin: 15px;
    outline: 2px solid white;
}
.runes-container {
    margin: 5px;
    outline: 2px solid black;
}
.runes-container {
}
.runes-primary-tree, .runes-secondary-tree {
    display: inline-block;
    vertical-align: top;
}
.secondary-tree-icon, .keystone-rune {
    text-align: center;
    margin: 25px;
}
.keystone-rune span {
    font-size: 20px;
    border: 20px solid #222;
    border-radius: 100%;
    background-color: #222;
}
.secondary-tree-icon span {
    border: 15px solid #222;
    border-radius: 100%;
    background-color: #222;

}
.lesser-runes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.lesser-rune {
    margin: 5px;
    border: 10px solid black;
    border-radius: 100%;
    background-color: black;
    text-align: center;
}