/* MEDIUM STYLES */
/* for all medium screens: */
@media screen and (min-width: 800px) and (max-width: 1550px) {
    .only-mobile {
        display: none;
    }
    div.component-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    div.graph-div {
        grid-row: 2;
        grid-column: span 2;
    }
    .items {
        margin: 0 auto;
        width: 250px;
    }
    .summ-outerdiv-D {
        grid-column: 2;
    }
    .summ-outerdiv-F {
        grid-column: 3;
    }
    .title-n-summs img.summoner-spell {
        width: 90%;
    }
}
/* only for smaller medium screens: */
@media screen and (min-width:800px) and (max-width: 1100px){
    div.champ-div {
        display: grid;
        grid-template-columns: 120px auto;
    }
    .items {
        margin: 0 auto;
        width: 125px;
    }
    .item-outerdiv img, img.summoner-spell {
        width: 32px;
        height: 32px;
    }
    .title-n-summs {
        grid-template-columns: auto 38px 38px;
    }
    .clickable-image-container.summoner-spell span {
        display: none;
    }
}