/* MOBILE STYLES */
/* All mobile phones */
@media screen and (max-width: 800px) {
    h1, h2 {
        display: block;
    }
    .usage-note {
        text-align: center;
    }
    div.champ-div {
        grid-template-columns: 1fr 2fr;
    }
    .items {
        width: 250px;
        margin: 0 auto;
    }
    .item, {
        width: 64px;
        height: 64px;
    }
    .title-n-summs > div {
        display: inline-block;
    }
    a.clickable-image-container.summoner-spell {
        width: 64px;
    }
    .title-n-summs {
        display: block;
    }
    .title-n-summs .items-summs {
        display: block;
        position: relative;
    }
}
/* smaller mobile phones */
@media screen and (max-width: 550px) {
    div.champ-div {
        grid-template-columns: 120px auto;
    }
    .items {
        width: 125px;
        margin: 0 auto;
    }
    .item-outerdiv img, a.clickable-image-container.summoner-spell {
        width: 32px;
        height: 32px;
    }
    a.clickable-image-container.summoner-spell span {
        display: none;
    }


}
/* REALLY SMALL mobile phones */
@media screen and (max-width: 300px) {
    div.champ-div {
        grid-template-columns: 90px auto;
    }

}