/* MOBILE STYLES */
/* All mobile phones */
@media screen and (max-width: 800px) {
    h1, h2 {
        display: block;
    }
    .usage-note {
        text-align: center;
    }
    div.champ-div {
        grid-template-columns: 1fr 2fr;
    }
    .items {
        width: 260px;
    }
        
}
/* smaller mobile phones */
@media screen and (max-width: 550px) {
    div.champ-div {
        grid-template-columns: 120px auto;
    }
    .items {
        width: 130px;
    }
    
    .item, img.summoner-spell {
        width: 32px;
        height: 32px;
    }
    .title-n-summs {
        grid-template-columns: auto 38px 38px;
    }
    .title-n-summs p {
        display: none;
    }
    .title-n-summs {
        display: grid;
        grid-template-columns: auto 38px;
    }
    .title-n-summs img {
        justify-self: end;
    
    }

}
/* REALLY SMALL mobile phones */
@media screen and (max-width: 300px) {
    div.champ-div {
        grid-template-columns: 90px auto;
    }

}