.my-modal {
    max-width: none;
    background-color: lightgray;
}
.my-modal .selectable {
    display: inline-block;
    margin: 5px;
    padding: 15px;
    position: relative;
    width: 86px;
    vertical-align: top;
}
.my-modal .selectable.selectable-champ {
    width: unset;
}
.my-modal 
.my-modal .selectable p {
    margin: 0;
}
.my-modal .selectable:hover {
    background-color: gray;
}
.my-modal .selectable a span {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
  
    z-index: 1;
}