/* WIDESCREEN STYLES */
@media screen and (min-width: 1550px) {
    .only-mobile {
        display: none;
    }
    h1 {
        margin-left: 200px;
    }
    div.component-container {
        display: grid;
        grid-template-columns: 500px auto 500px;
        /* grid-template-rows: 400px 400px 400px; */
    }
    .champ-div.blue-champ {
        grid-row:1;
        grid-column: 1;
    }
    .champ-div.red-champ {
        grid-row: 1;
        grid-column: 3;
    }

}