/* WIDESCREEN STYLES */
@media screen and (min-width: 1550px) {
    .only-mobile {
        display: none;
    }
    h1 {
        margin-left: 200px;
    }
    div.component-container {
        display: grid;
        grid-template-columns: 500px auto 500px;
    }
    .champ-div.blue-champ {
        grid-row:1;
        grid-column: 1;
    }
    .champ-div.red-champ {
        grid-row: 1;
        grid-column: 3;
    }
    .title-n-summs {
        display: grid;
        grid-template-columns: auto 38px 38px;
        grid-gap: 10px;
    }

}
/* smaller widescreen */
@media screen and (min-width: 1550px) and (max-width: 1700px) {
    div.component-container {
        display: grid;
        grid-template-columns: 450px auto 450px;
    }

    img.summoner-spell, img.item {
        width: 32px;
        height: 32px;
    }
    .title-n-summs .clickable-image-container span {
        display: none;
    }
    .items {
        margin: 0 auto;
        width: 130px;
    }

}
/* larger widescreens */
@media screen and (min-width: 1700px) {
    .runes-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .lesser-rune {
        margin: 6px;
        border: 6px solid black;
        border-radius: 100%;
        font-size: 0.75rem;
    }
    .title-n-summs {
        grid-template-columns: auto 64px 64px;

    }

}