<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>League Calculator</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>League Calculator</h1>
        <p>A tool for calculating battles between league characters</p>
    </div>
</body>
</html>
